<ngx-loading-bar [includeSpinner]="false" [color]="'red'"></ngx-loading-bar>
<p>
    <mat-toolbar color="primary" class="product-header">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <app-product-main-menu [menu]="producMenuService.ProductMenuList" (clickedMenu)="handleMenuClick($event)"
                (addMenu)="handleMenuAdd($event)" (updateMenu)="handleMenuUpdate($event)"
                (deleteMenu)="handleMenuDelete()" (selectedMenu)="handleMenuSelect($event)"></app-product-main-menu>
        </mat-menu>

        <span>My App</span>
        <span class="example-spacer"></span>
        <mat-slide-toggle color="warn" [checked]="designerMode" (change)="toggle($event)" matTooltip="Preview Mode"></mat-slide-toggle>
        <button mat-icon-button matTooltip="Change History" [disabled]="producMenuService.menuActions.length === 0"
            (click)="openChangeHistory()">
            <mat-icon>track_changes</mat-icon>
        </button>
        <button mat-icon-button [disabled]="producMenuService.menuActions.length === 0" matTooltip="Save"
            (click)="saveChanges()">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Logout">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-toolbar>
    <mat-toolbar class="product-subheader">
        <app-site-map></app-site-map>
        <span class="example-spacer"></span>
        <button mat-icon-button  *ngIf="producMenuService.selectedMenu.value && designerMode" matTooltip="Add Container" (click)="addPageContainer()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>
</p>