@import '../../../../styles/variables';

.list-item:hover {
    background-color: #efefef;
}

.selectable {
    cursor: pointer;
}

.selected-item {
    background-color: #ccc;
}

.selected-item:hover {
    background-color: #ccc;
}