/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "styles/variables";
@import "styles/tree.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-spacer {
    flex: 1 1 auto;
  }

.snack-bar-error {
    background-color: red;
    color: white;
}

.snack-bar-success {
    background-color: seagreen;
    color: white;
}

.selected-control {
    border: solid 3px $border-color !important;
}

.spacer {
    padding: 3px;
}

.selected-row {
    background-color: #decdfc;
}

.io-bottom-sheet {
    min-height: 600px;
    max-height: 600px;
    min-width: 500px !important;
    max-width: 500px !important;
}