.page-control-change-history-table {
    width: 100%;
}

.mat-column-row-action {
    width: 100px;
}

td.mat-column-row-action {
    color: #acacac;
    font-style: italic;
}

.mat-column-details {
    width: 100px;
    text-align: center;
}

td.mat-column-details {
    color: #686868;
}

.control-added {
    border-left: solid 3px rgb(0, 95, 0);
}

.control-updated {
    border-left: solid 3px rgb(112, 112, 255);
}

.control-deleted {
    border-left: solid 3px rgb(247, 135, 135);
}

.details-row {
    border-bottom: solid 1px #efefef;
}

.details-row-updated {
    background-color: #efefef;
    border-bottom: solid 1px #adadad;
}

.property-font {
    font-style: italic !important;
}

.font-deleted {
    color: #a0a0a0 !important;
}