<table mat-table [dataSource]="controlChangeList" class="page-control-change-history-table" multiTemplateDataRows>

    <ng-container matColumnDef="control-name">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            {{element.ControlItem.controlProperties.controlName}}
        </td>
    </ng-container>

    <ng-container matColumnDef="row-action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" [ngClass]="{
            'control-added': element.ControlOperation === cr.CrudActions.Add,
            'control-updated': element.ControlOperation === cr.CrudActions.Update,
            'control-deleted': element.ControlOperation === cr.CrudActions.Delete
        }">
            <div *ngIf="element.ControlOperation === cr.CrudActions.Add">
                Added
            </div>
            <div *ngIf="element.ControlOperation === cr.CrudActions.Update">
                Updated
            </div>
            <div *ngIf="element.ControlOperation === cr.CrudActions.Delete">
                Deleted
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="controlChangeHeaderList.length" class="property-font">

            <!--  UPDATED ITEMS -->
            <div class="container" *ngIf="element.StoreControlItem">
                <div class="row">
                    <div class="col mat-header-cell">Poroperty {{element.isExpanded}}</div>
                    <div class="col mat-header-cell">Old Value</div>
                    <div class="col mat-header-cell">New Value</div>
                </div>

                <ng-container *ngFor="let keys of getAttributes(element)">
                    <div class="row details-row"
                        *ngIf="keys != 'controlId' && keys != 'controlType' && (element.StoreControlItem.controlProperties[keys] != element.ControlItem.controlProperties[keys] || element.StoreControlItem.controlEvents[keys] != element.ControlItem.controlEvents[keys])"
                        >
                        <div class="col mat-cell">{{getPropertyFormatedName(keys)}}</div>
                        <div class="col mat-cell">
                            {{element.StoreControlItem.controlEvents[keys] ? element.StoreControlItem.controlEvents[keys] : element.StoreControlItem.controlProperties[keys]}}
                        </div>
                        <div class="col mat-cell">
                            {{element.ControlItem.controlEvents[keys] ? element.ControlItem.controlEvents[keys] : element.ControlItem.controlProperties[keys]}}
                        </div>
                    </div>
                </ng-container>
            </div>

            <!-- ADDED ITEMS -->
            <div class="container" *ngIf="element.ControlOperation === cr.CrudActions.Add">
                <div class="row">
                    <div class="col mat-header-cell">Poroperty {{element.isExpanded}}</div>
                    <div class="col mat-header-cell">Old Value (Not Applicable)</div>
                    <div class="col mat-header-cell">New Value</div>
                </div>

                <ng-container *ngFor="let keys of getAttributes(element)">
                    <div class="row details-row"
                        *ngIf="keys != 'controlId' && keys != 'controlName' && keys != 'controlType'">
                        <div class="col mat-cell">{{getPropertyFormatedName(keys)}}</div>
                        <div class="col mat-cell">

                        </div>
                        <div class="col mat-cell">
                            {{element.ControlItem.controlEvents[keys] ? element.ControlItem.controlEvents[keys] : element.ControlItem.controlProperties[keys]}}
                        </div>
                    </div>
                </ng-container>
            </div>

            <!-- DELETED ITEMS -->
            <div class="container" *ngIf="element.ControlOperation === cr.CrudActions.Delete">
                <div class="row">
                    <div class="col mat-header-cell font-deleted"> ---- no details available</div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="controlChangeHeaderList;"></tr>
    <tr mat-row *matRowDef="let element; columns: controlChangeHeaderList;"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>

</table>